body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: 0;
    background-color: var(--black);
    color: var(--text-color);
}

/* Barras laterales */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 60px; /* Estado reducido */
    background-color: var(--dark-violet);
    transition: width 0.3s ease, background-color 0.3s ease;
    overflow: hidden;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
}

.sidebar.expanded {
    width: 200px; /* Estado expandido */
}

.sidebar.left {
    left: 0;
}

.sidebar.right {
    right: 0;
}

/* Ajuste del contenido principal */
main {
    flex: 1;
    margin-left: 60px; /* Espacio para la barra lateral izquierda */
    margin-right: 60px; /* Espacio para la barra lateral derecha */
    background-color: var(--dark-gray);
    padding: 20px;
    box-sizing: border-box;
}

main.expanded-left {
    margin-left: 200px; /* Ajusta al expandir la barra izquierda */
}

main.expanded-right {
    margin-right: 200px; /* Ajusta al expandir la barra derecha */
}

/* Íconos de las barras laterales */
.sidebar-icon {
    display: block;
    margin: 20px auto;
    width: 40px;
    height: 40px;
    transition: opacity 0.3s ease;
}

.sidebar.expanded .sidebar-icon {
    display: none;
}

/* Contenido principal */
.content {
    background-color: var(--gray);
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}