#main {
    margin: 60px auto;
    max-width: 800px;
    padding: 20px;
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    overflow: auto;
}

#main img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}