/* Sidebar izquierda (navegación vertical) */
#sidebar-left {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #2e2e2e;  /* Fondo oscuro */
    color: white;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 2;  /* Asegura que la barra lateral esté por encima del contenido */
}

#sidebar-left ul {
    list-style: none;
    padding: 0;
}

#sidebar-left li {
    margin: 20px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#sidebar-left li img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

#sidebar-left li:hover {
    background-color: #444;
}

/* Para ocultar la barra lateral en dispositivos pequeños (por defecto) */
@media (max-width: 768px) {
    #sidebar-left {
        display: none;  /* Ocultar en dispositivos móviles */
    }
}