#title {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #3a003f;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 1.5rem;
    z-index: 1000;
    transition: transform 0.3s;
}

#title.hidden {
    transform: translateY(-100%);
}